html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
.loader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s linear;
    z-index: 10;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.head-right {
    color: #fff;
}
.banner {
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center;
}
.header-header {
    font-size: 65px;
    color: #41C365;
    font-weight: 700;
}
.header-header-2 {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.header-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.35s background-color linear;
}
.header-link:hover {
    background-color:#41C365;
    color: #fff;
}
.service {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border: 4px solid #41C365;
    border-radius: 50%;
    transition: 0.45s background-color linear;
}
.service:hover {
    background-color: #000;
}
.middle-header {
    font-weight: 800;
    text-align: center;
    font-size: 45px;
}
.middle-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #41C365;
    background-color: transparent;
    padding: 10px 25px;
    border: 2px solid #41C365;
    font-size: 20px;
    text-decoration: none;
    transition: 0.35s background-color linear, 0.35s color linear;
}
.middle-link:hover {
    background-color:#41C365;
    color: #fff;
}
.all {
    display: flex;
    align-items: center;
    min-height: 60vh;
}
.wrapper {
    width: 100%;
}
.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card {
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    /* font-size: 90px; */
    font-weight: 700;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.carousel .card-1 {
    background-color: #41C365;
}
.carousel .card-2 {
    background-color: #41C365;
}
.carousel .card-3 {
    background-color: #41C365;
}
.carousel .card-4 {
    background-color: #41C365;
}
.carousel .card-5 {
    background-color: #41C365;
}
.owl-dots {
    text-align: center;
    margin-top: 10px;
}
.owl-dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #41C365 !important;
    transition: all 0.3s linear;
}
.owl-dot:hover {
    background-color:  #41C365 !important;
}
.owl-dot.active {
    background-color:  #41C365 !important;
}
.bg-footer {
    background-image: url('images/contact_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-link-2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #41C365;
    background-color: white;
    padding: 10px 70px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.35s background-color linear, 0.35s color linear;
}
.middle-link-2:hover {
    background-color:#41C365;
    color: #fff;
}